<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    
    
<beans:bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
  <!--  <http auto-config="true" use-expressions="true">
    <csrf disabled="true"/>
    <intercept-url pattern="/**" access="permitAll" />
    <form-login login-page="/login" authentication-success-handler-ref="loginSuccessHandler"
            authentication-failure-handler-ref="loginFailureHandler" login-processing-url="/auth"
            username-parameter="id" password-parameter="pw" />
    <logout logout-url="/logout" invalidate-session="true" logout-success-url="/login?status=logout" />
    <session-management invalid-session-url="/login">
        <concurrency-control max-sessions="1" error-if-maximum-exceeded="false" />
    </session-management>
</http> -->
<!-- 
use_expressions : SpEL문법을 사용하겠다는 의미(true, default는 false)
 -->
<http auto-config="true" use-expressions="true">
	<csrf disabled="false"/>
	
	<intercept-url pattern="/manager_authority" access="hasAnyRole('ROLE_ADMIN')" />
	<intercept-url pattern="/manager_dept_group" access="hasAnyRole('ROLE_ADMIN')" />
	<intercept-url pattern="/manager_emp_approve" access="hasAnyRole('ROLE_ADMIN')" />
	<intercept-url pattern="/manager_emp_inquiry" access="hasAnyRole('ROLE_ADMIN')" />
	<intercept-url pattern="/manager_house_add" access="hasAnyRole('ROLE_ADMIN')" />
	<intercept-url pattern="/manager_main" access="hasAnyRole('ROLE_ADMIN')" />
		
	<intercept-url pattern="/arrive_list" access="hasAnyRole('ROLE_ADMIN','ROLE_STORE')" />
	<intercept-url pattern="/arrive" access="hasAnyRole('ROLE_ADMIN','ROLE_FACTORY')" />
	<intercept-url pattern="/check" access="hasAnyRole('ROLE_ADMIN','ROLE_STORE')" />
	<intercept-url pattern="/group_add" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS')" />
	<intercept-url pattern="/move_order_list" access="hasAnyRole('ROLE_ADMIN','ROLE_STORE')" />
	<intercept-url pattern="/move_order" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS')" />
	<intercept-url pattern="/order" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS')" />
	<intercept-url pattern="/pallet" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_STORE')" />
	<intercept-url pattern="/product_inquiry" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS')" />
	<intercept-url pattern="/product" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS')" />
	<intercept-url pattern="/recipe_add" access="hasAnyRole('ROLE_ADMIN','ROLE_FACTORY')" />
	<intercept-url pattern="/recipe_update" access="hasAnyRole('ROLE_ADMIN','ROLE_FACTORY')" />
	<intercept-url pattern="/release" access="hasAnyRole('ROLE_ADMIN','ROLE_FACTORY')" />
	<intercept-url pattern="/release_order_list" access="hasAnyRole('ROLE_ADMIN','ROLE_STORE')" />
	<intercept-url pattern="/release_pay" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS')" />
	
	<intercept-url pattern="/location_inquiry" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_FACTORY','ROLE_STORE')" />
	<!-- <intercept-url pattern="/location_inquiry" access="isRememberMe()" /> -->
	<intercept-url pattern="/product_position_inquiry" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_FACTORY','ROLE_STORE')" />
		<intercept-url pattern="/recipe_detail" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_FACTORY','ROLE_STORE')" />
	<intercept-url pattern="/recipe_inquiry" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_FACTORY','ROLE_STORE')" />
	<intercept-url pattern="/release_state_inquiry" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_FACTORY','ROLE_STORE')" />
	<intercept-url pattern="/stock" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_FACTORY','ROLE_STORE')" />
	<intercept-url pattern="/overall_check" access="hasAnyRole('ROLE_ADMIN','ROLE_MATERIALS','ROLE_FACTORY','ROLE_STORE')" />
	
	<intercept-url pattern="/header" access="permitAll" />
	<intercept-url pattern="/index" access="permitAll" />
	<intercept-url pattern="/join" access="permitAll" />
	<intercept-url pattern="/login" access="permitAll" />
	
	<intercept-url pattern="/**" access="permitAll" />
	
	<form-login
	username-parameter="id"
	password-parameter="password"
	login-processing-url="/login"
	login-page="/login"
	always-use-default-target="true"
	default-target-url="/" />
	<logout
	logout-url="/logout"
	logout-success-url="/login"
	delete-cookies="JSESSIONID"
	invalidate-session="true"
	/>
	
	<!-- ajax 세션 처리를 위한 필터 선언 -->
	<!-- <custom-filter after="EXCEPTION_TRANSLATION_FILTER" ref="ajaxSessionTimeoutFilter"/> -->
</http>

<!-- ajax 세션처리를 위한 필터 선언 -->
    <!-- <beans:bean id="ajaxSessionTimeoutFilter" class="com.bellsoft.ilovecoin.common.exception.AjaxSessionCheckFilter">
        <beans:property name="ajaxHeader" value="AJAX" />
	</beans:bean> -->

<authentication-manager>
	<authentication-provider>
		<!-- <user-service>
			<user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
			<user name="user" password="{noop}password" authorities="ROLE_USER"/>
			<user name="a" password="{noop}a" authorities="ROLE_GUEST"/>
		</user-service> -->
		
		<password-encoder hash="bcrypt"/>
		<jdbc-user-service data-source-ref="dataSource" id="userService"
	users-by-username-query="SELECT id as loginId, password as loginPwd, true as ENABLED FROM b_emp WHERE id=?"
	authorities-by-username-query="SELECT e.id as loginID, d.AUTHORITY FROM b_emp e LEFT JOIN b_dept d ON e.dept_code = d.dept_code LEFT JOIN b_approve a ON e.emp_code = a.emp_code WHERE e.id=? AND a.approve = 1"/>
	
	
	</authentication-provider>
	
</authentication-manager>

<!--  secured method  -->
<!-- <global-method-security secured-annotations="enabled" /> -->

<!--  provider  -->
<!-- <authentication-manager>
    <authentication-provider ref="userAuthHelper" />
</authentication-manager>-->


      
      
      
      
      
    

	
 
</beans:beans>
