@charset "utf-8";

#wrap{
    /* overflow: hidden; */
    position: relative;
}

.b_header{
    width: 1240px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    position: relative;
}

.b_header_in{
    width: 100%;
    /* position: relative; */
}

.b_header_top{
    width: 100%;
    background-color: rgb(226, 220, 213);
}

.b_header_logo{
    width: 240px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../b_img/logo/b_header_logo1.png);
    background-size: 240px 100px;
}

.b_header_logo>a{
    display: block;
    width: 240px;
    height: 100px;
    /* background-color: yellowgreen; */
}

.b_header_logo>a>h1{
    text-indent: -9999px;
}

.b_header_util{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    margin-right: 20px;
    /* background-color: aquamarine; */
}

.b_header_util>div{
    width: 110px;
    height: 100px;
    background-color: rgb(226, 220, 213)
}

.b_header_util>div>a{
    display: block;
    color: #444;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 100px;
}

.b_header_util>div>a:hover{
    color: rgb(176, 160, 56);
}

.b_header_nav{
    width: 1240px;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
    /* position: fixed;
    top: 100px;
    left: 0; */
    position: absolute;
    height: 50px;
    z-index: 500;
    border-top: 1px solid rgb(200, 200, 200);
}



.b_header_nav_menu{
    width: 700px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
}

.b_header_nav_menu a{
    display: block;
    color: #444;
}

.b_header_nav_menu a:hover{
    color: rgb(176, 160, 56);
}

.b_header_nav_menu>li>p>a{
    width: 150px;
    height: 35px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
    /* background-color: aquamarine; */
}

.b_header_nav_manager{
    position: absolute;
    top: 0;
    right: 20px;
}

.b_header_nav_manager>p>a.b_header_nav_manager_btn{
    width: 190px;
}

.b_header_nav_menu_medium{
    /* display: none; */
    opacity: 0;
}

.b_header_nav_menu_small{
    /* display: none; */
    opacity: 0;
}

.b_header_nav_menu_medium>li>p>a{
    width: 150px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    /* background-color: blueviolet; */
}

.b_header_nav_menu_small>li>p>a{
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 7px;
    font-size: 14px;
    margin-bottom: 5px;
}

