@charset "utf-8";

.b_main1_title{
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 3px solid rgb(200,200,200);
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.b_manager_content{
    display: flex;
    justify-content: space-between;
}

.b_manager_content>article{
    width: 200px;
    height: 200px;
    background-color: rgb(226, 220, 213);
    border-radius: 40px;
    text-align: center;
}

.b_manager_content>article a{
    display: block;
    width: 200px;
    height: 200px;
    color: #444;
    font-size: 20px;
    font-weight: 700;
    line-height: 200px;
}

.b_manager_content>article a:hover{
    color: rgb(176, 160, 56);
}