@charset "utf-8";

.move_location_bacode{
    width: 200px;
    height: 40px;
}

.move_location_bacode>p>input{
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
}

.move_order_btn>input{
    width: 80px;
}