@charset "utf-8";

#overall_search_box{
	position: relative;
	width: 1240px;
    height: 150px;
    background-color: rgba(220, 220, 220, 0.2);
	display: flex;
	border: 1px solid #ccc;
}

#overall_sb_left{
	width: 270px;
}

#overall_sbl_select{
	display: flex;
    justify-content: space-between;
    height: 75px;
   	border-bottom: 1px solid #ccc;
   	padding: 0 15px;
}

#overall_sbl_select>p{
	font-size: 20px;
	padding-top: 28px;
	vertical-align: top;
	font-weight: 500;
}

#overall_sbl_select select{
	width: 150px;
	height: 30px;
	margin-top: 25px;
}

.overall_sbl_choice{
	display: flex;
    justify-content: space-between;
    font-size: 18px;
   	padding: 28px 15px 0;
}

.overall_choice_check>p{
	padding-right: 5px;
}

.overall_choice_check{
	display: flex;
    justify-content: space-between;
}

.overall_choice_check input{
	width: 18px;
	height: 18px;
	vertical-align: top;
	margin-top: 2px;
}

.overall_sb_right{
	width: 1000px;
	display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding-left: 15px;
    border-left: 1px solid #ccc;
}

.overall_sb_right>div{
	width: 300px;
	height: 75px;
	display: flex;

    padding-top: 23px;
    box-sizing: border-box;
}

.overall_sb_right>div p{
	width: 35%;
	height: 30px;
	font-size: 18px;
	vertical-align: top;
   	padding-top: 5px;
}

.overall_sb_right>div div{
	width: 45%;
	height: 30px;
}

.overall_sb_right>div div input{
	width: 100%;
	height: 100%
}

.overall_sb_right .overall_sbr_date{
	width: 350px;
    text-align: center;

}

.overall_sb_right .overall_sbr_date>p{

	width:30%;
}

.overall_sb_right .overall_sbr_date>div{
	position: relative;
	display: flex;
    justify-content: space-between;
    width: 70%;
}

.overall_sb_right .overall_sbr_date>div>p{
	position: absolute;
   	top: 5px;
   	left: 79px;
}

.overall_sb_right .overall_sbr_date input{
	width: 45%;
	height: 30px;
}

#overall_sb_btn{
	position: absolute;
    top: 85px;
    right: 15px;
    width: 50px;
    height: 50px;
	background-image: url(../b_img/search_btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

#overall_sb_btn:hover{
	background-image: url(../b_img/search_btn2.png);
}

.overall_sbr_date{
	position: relative;
}

.date_icon1,.date_icon2{
	display: block;
	position: absolute;
    top: 5px;
    width: 25px;
    height: 25px;
	background-image: url(../b_img/date_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.date_icon1{
	left: 84px;
}

.date_icon2{
	left: 215px;
}

.b_inquiry_main .b_table2{
    width: 1224px;
    margin: 0 auto;
    /* border: 1px solid #666; */
    border-collapse: separate;
  	border-spacing: 0;

}

.b_inquiry_main .b_table2 th{
	position: sticky;
	top: 0px;

	text-align: center;
	width: 130px;
    height: 30px;
    line-height: 30px;
    background-color: #dedede;
}

.b_inquiry_main .b_table2 tr, .b_table2 td{

    text-align: center;
    
}

.b_inquiry_main .b_table2 th, .b_inquiry_main .b_table2 td{

	padding: 3px 0;
}

.b_inquiry_main .b_table2 th{


}

.b_inquiry_main .b_table2 p{
    display: inline-block
}

.b_inquiry_main .b_table2{

}

.b_inquiry_main .b_table2 tr td{

}
.b_inquiry_main .b_table2 th{
	border-bottom: 2px solid rgb(165, 165, 165);
	border-right: 1px solid rgb(200, 200, 200);

}
.b_inquiry_main .b_table2 td{
	border-bottom: 1px solid rgb(200, 200, 200);
	border-right: 1px solid rgb(200, 200, 200);
}

#overall_list{
	display: none;
	overflow-x: hidden;
	overflow-y:scroll;
	height: 700px;
	margin-top: 50px;
	border: 2px solid rgb(165, 165, 165);
}

.little_title{
	text-ailgn: center;
}

#overall_sb_left .sr_choice{
	flex-wrap: wrap;
	margin-left: 20px;
	margin-top: -10px;
}

#overall_sb_left .sr_choice .overall_choice_check{
	width: 50%;
	justify-content: start;
}

#overall_sb_left .hr_choice{
	flex-wrap: wrap;
	margin-left: 20px;
	margin-top: -10px;
}

#overall_sb_left .hr_choice .overall_choice_check{
	width: 50%;
	justify-content: start;
}

.excel_download{
	margin-top : 20px;
}
.excel_img{
    width: 200px;
    height: 40px;
	background-image: url(../b_img/excel.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
    padding-left : 20px;
}
