@charset "utf-8";

#container .b_inquiry_main .b_title{
    margin-bottom: 0;
}

.small_title{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #444;
}

.recipe_product_selectbox{
    width: 140px;
    height: 35px;
}

.recipe_product_chois{
    margin-bottom: 50px;
}

.table_btn{
    position: absolute;
    top: 195px;
    right: 0;
}

.table_btn>input{
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.b_table{
    position: relative;
}


.b_table_data>td>p{
    width: 410px;
}

.b_table_data>td>p>select{
    width: 200px;
}


.b_table_data .recipe_weight>p{
    width: 410px;
}

.b_table_data .recipe_weight>p>input{
    width: 380px;
    height: 40px;
    border: none;
    font-size: 22px;
    padding-left: 15px;
}

.recipe_delete{
    text-align: center;
}

.recipe_delete_btn{
    text-align: center;
}

.recipe_delete_btn>input{
    width: 100px;
    height: 38px;
    line-height: 38px;
    margin-left: 160px;
}

.mar_t_recipe{
    margin-top: 50px;
}

.recipe_content_info{
    display: flex;
    justify-content: space-between;
}

.recipe_content_info>textarea{
    width: 700px;
    height: 500px;
    resize: none;
    overflow: auto;
    font-size: 20px;
    padding: 15px;
}

.recipe_content_info>div{
    position: relative;
    width: 400px;
    padding-top: 300px;
    font-weight: 500;
}

.recipe_content_info>div>p{
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 20px;
}

.recipe_content_info>div>p:last-child{
    margin-bottom: 0;
}

.recipe_save_btn{
    position: absolute;
    bottom: 0;
    left: 0;
}

.recipe_save_btn>input{
    width: 400px;
}